<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.llh.mapper.EasyUserMapper">
      <insert id="addEasyUser">
            insert into a_user_info
            set name=#{name},pwd=#{pwd},salt=#{salt}
      </insert>
      <select id="getEasyUserByName" resultType="com.llh.domain.EasyUser">
            select * from a_user_info where name=#{name}
      </select>
      <select id="getEasyUsers" resultType="com.llh.domain.EasyUser">
            select * from a_user_info
      </select>
</mapper>