<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.llh.mapper.OrderMapper">
      <select id="getOrders" resultType="com.llh.domain.Order">
            select o.*, u.name uname, s.name sname, c.name cname
            from a_order o
            left join a_user_info u on o.uid = u.id
            left join a_source s on o.sid = s.id
            left join a_classify c on o.cid = c.id
            <where>
                  <if test="num!=null and num!=''">
                        and instr(o.order_num,#{num})
                  </if>
                  <if test="sid!=null">
                        and o.sid=#{sid}
                  </if>
                  <if test="cid!=null">
                        and o.cid=#{cid}
                  </if>
                  <if test="orderNum!=null and orderNum!=''">
                        order by ${orderNum}
                        <if test="orderType!=null and orderType!=''">
                              ${orderType}
                        </if>
                  </if>
            </where>
      </select>
      <select id="getSource" resultType="com.llh.domain.OrderDict">
            select * from a_source
      </select>
      <select id="getClassIfy" resultType="com.llh.domain.OrderDict">
            select * from a_classify
      </select>
</mapper>